# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Venv
venv/
.venv/

# OS/Editor
.DS_Store
.vscode/
.idea/

# do NOT upload
local_constants.py
assignment01-453218-710dc37168eb.json
*firebase-adminsdk*.json
*service-account*.json
