{% extends "base.html" %}
{% block title %}Team Comparison - F1 Database{% endblock %}
{% block extra_css %}
<style>
  .better {
    background-color: #b7f8c6 !important;
  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>Team Comparison</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Statistic</th>
        <th>{{ team1.name }}</th>
        <th>{{ team2.name }}</th>
      </tr>
    </thead>
    <tbody>
      {% for comp in comparison %}
      <tr>
        <td>{{ comp.stat | capitalize }}</td>
        <td class="{% if comp.better == 'team1' %}better{% endif %}">{{ comp.team1_value }}</td>
        <td class="{% if comp.better == 'team2' %}better{% endif %}">{{ comp.team2_value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/compare/teams" class="btn btn-secondary">Back</a>
</div>
{% endblock %}
