<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Drivers</title>
    <link type="text/css" href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
    <script type="module" src="{{ url_for('static', path='/firebase-login.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/query-drivers.js') }}"></script>

</head>
<body>
    <div class="navbar">
        <a href="/main">Home</a>
        <a href="/add-driver">Add Driver</a>
        <a href="/add-team">Add Team</a>
        <a href="/query-drivers">Query D</a>
        <a href="/query-teams">Query T</a>
        <a href="#">Compare</a>
        <button id="sign-out" hidden="true">Sign Out</button>
    </div>

    <div id="login-box" hidden="true">
        Email:<input type="email" name="" id="email"> <br/>
        Password:<input type="password" name="" id="password"> <br/>
        <button id="login">Login</button>
        <button id="sign-up">Sign Up</button>
    </div>

    {% if user_token %}
    <h2>Query Drivers</h2>
    <form id="query-form">
        <label>Attribute:
            <select id="attribute" name="attribute">
                <option value="Age">Age</option>
                <option value="Total Pole Positions">Total Pole Positions</option>
                <option value="Total Race Wins">Total Race Wins</option>
                <option value="Total Points Scored">Total Points Scored</option>
                <option value="Total World Titles">Total World Titles</option>
                <option value="Total Fastest Laps">Total Fastest Laps</option>
            </select>
        </label><br>
        <label>Comparison: 
            <select id="comparison" name="comparison">
                <option value=">">Greater Than</option>
                <option value="<">Less Than</option>
                <option value="==">Equal To</option>
            </select>
        </label><br>
        <label>Value: <input type="number" id="value" name="value" required></label><br>
        <button type="button" onclick="queryDrivers()">Search</button>
    </form>
    <h3>Results:</h3>
    <ul id="results"></ul>
    {% endif %}
        
</body>
</html>